code.xref.py.py-obj,
code.xref.py.py-obj span.pre {
    color: #ced6dd !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-size: inherit !important;
    font-family: inherit !important;
}